.main_box{
    max-width: 99%;
    margin: 0px auto;
    height: 100%;
    display:-webkit-box;
}
.content_left{
    -webkit-box-flex:1;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.content_right{
    /*width: 220px;*/
    margin: 10px 0px;
    height: auto;
    -webkit-box-orient: vertical;
    /*-webkit-box-flex: 2;*/
}
.content_top{
    height: 315px;
    margin-bottom: 5px;
}
.content_button{
    -webkit-box-flex: 1;
    /*height: 241px;*/
    display: -webkit-box;
}
.checkbox{
    line-height: 20px;
}
.pointdata{
    overflow-y: auto;
    height: 289px;
}
.boxnumber{
    display:-webkit-box;
}
.pointsearch{
    display:-webkit-box;
}
#btnQuery{
    width: 21px;
    height: 21px;
    border: 0px;
    cursor: pointer;
    background-image:url(../images/search.png) ;
}
#clearInput{
    cursor: pointer;
    margin-left: -15px;
    font-size: 15px;
}


.en-markup-crop-options {
    top: 18px !important;left: 50% !important;margin-left: -100px !important;
    width: 150px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {margin-left: 0px !important;}
.range-picker-axis{padding:0;position:relative;width:158px;height:2px;border:1px solid #CCC;display:inline-block;border-radius:2px;z-index:1;}
.range-picker{position:absolute;width:10px;height:10px;border:1px solid #BBB;z-index:3;top:-5px;border-radius:2px;cursor:pointer;background-color:#FFF;}
.range-picker.left{left:-4px;}
.range-picker.right{right:-4px;}
.range-picker.active{background-color:#CCC;}
.range-selected{background-color:#CCC;z-index: 2;position: absolute;width:100%;}
/*slider 范围选择控件结束*/

.sliderlabelpanel{display: -webkit-box;}
.sliderlabelpanel>div[class='label_left']{-webkit-box-flex: 1;text-align: left}
.sliderlabelpanel>div[class='label_right']{-webkit-box-flex: 1;text-align: right}

/*页面美化 start --------------------------------------*/
.headtitle{
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
}
.headtitle_img{
    width: 15px;
    height: 17px;
    background-image: url('../images/ico.gif');
    margin-top: 6px;
    margin-left: 10px;
}
.headtitle_txt{
    font-weight: bold;padding-right: 10px;border-bottom: solid 3px #3398de;margin-left: 10px;
}
.rightheadtitle{
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
    margin-bottom: 6px;
}
/*页面美化 end --------------------------------------*/


/* start pad禁用整个页面的用户选择和链接弹出框 只允许Form表单域执行文本的剪切板操作*/
body.disable-default-action
{
    -webkit-touch-callout:none ;
    -webkit-user-select:none ;
}

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
/* end pad禁用整个页面的用户选择和链接弹出框 只允许Form表单域执行文本的剪切板操作*/