/* * Created by  markeluo on 2015/5/1.*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.main_box{
    min-width: 1000px;
    margin: 0px auto;
    height: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.content_left{
    -webkit-box-flex:1;
    margin: 10px;
    margin-right: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.content_right{
    width: 220px;
    -webkit-box-orient: vertical;
    margin:10px;
    margin-left: 5px;
    -webkit-box-orient: vertical;
    border: solid 1px #dcdcdc;
}
.content_right>div{
    padding-left: 10px;
    padding-right: 10px;
}
.content_right>div[class='headtitle']{
    padding-left: 0px;
    padding-right: 10px;
}
.content_top_Panel{
    height: 280px;
    padding: 10px;
    display: -webkit-box;
}
.content_top{
    -webkit-box-flex: 1;
    height: 260px;
    position: relative;
}
.content_button{
    -webkit-box-flex: 1;
    display: -webkit-box;
    margin-top: 5px;
}
.content_button_left{
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border: solid 1px #dcdcdc;
}
.content_button_right{
    margin-left: 5px;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border: solid 1px #dcdcdc;
}
.righttitle{margin-top: 5px;height:16px;line-height: 14px;font-weight: bold}
.selectfilter>select{width: 100%;cursor: pointer;height: 25px;}

.sliderlabelpanel{display: -webkit-box;height: 10px;}
.sliderlabelpanel>div[class='label_left']{-webkit-box-flex: 1;text-align: left}
.sliderlabelpanel>div[class='label_right']{-webkit-box-flex: 1;text-align: right}

/* slider 范围选择控件开始*/
.en-markup-crop-options {
    top: 18px !important;left: 50% !important;margin-left: -100px !important;
    width: 150px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {margin-left: 0px !important;}
.range-picker-axis{padding:0;position:relative;width:158px;height:2px;border:1px solid #CCC;display:inline-block;border-radius:2px;z-index:1;}
.range-picker{position:absolute;width:10px;height:10px;border:1px solid #BBB;z-index:3;top:-5px;border-radius:2px;cursor:pointer;background-color:#FFF;}
.range-picker.left{left:-4px;}
.range-picker.right{right:-4px;}
.range-picker.active{background-color:#CCC;}
.range-selected{background-color:#CCC;z-index: 2;position: absolute;width:100%;}
/*slider 范围选择控件结束*/

/*treemap 样式 start --------------------------------------*/
.node {
    border: dotted 1px #dcdcdc;
    font: 12px "微软雅黑";
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    color: #ffffff;
}
/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
/*treemap 样式 end --------------------------------------*/
.colorrang_bar{
    height: 15px;line-height: 15px;
}
.colorrang_bar>.numbercenter{
    height: 15px;line-height: 15px;display: -webkit-box;
}
.colorrang_bar>.numbercenter>.numberleft{
    -webkit-box-flex:1;height: 15px;line-height: 15px;text-align: left;
}
.colorrang_bar>.numbercenter>.numberright{
    -webkit-box-flex:1;height: 15px;line-height: 15px;text-align: right;
}
/*页面美化样式调整 ---------------start */
.content_toppanel{
    height: 315px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border: solid 1px #dcdcdc;
}
.headtitle{
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
}
.headtitle_img{
    width: 15px;
    height: 17px;
    background-image: url('../images/ico.gif');
    margin-top: 6px;
    margin-left: 10px;
}
.headtitle_txt{
    font-weight: bold;padding-right: 10px;border-bottom: solid 3px #3398de;margin-left: 10px;
}
.content_right>div[class='rightheadtitle']{
    padding-left: 0px;
    padding-left: 0px;
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
    margin-bottom: 25px;
}

/* start pad禁用整个页面的用户选择和链接弹出框 只允许Form表单域执行文本的剪切板操作*/
body.disable-default-action
{
    -webkit-touch-callout:none ;
    -webkit-user-select:none ;
}

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
/* end pad禁用整个页面的用户选择和链接弹出框 只允许Form表单域执行文本的剪切板操作*/