.main_box{
    width: 99%;
    height: 100%;
    margin: 0px auto;
    /*height: 100%;*/
    display:-webkit-box;
}
.content_left{
    height: 97%;
    display:-webkit-box;
    -webkit-box-flex:1;
    -webkit-box-orient: vertical;
    margin:5px;
}
.content_left_top{
    -webkit-box-orient: vertical;
    display:-webkit-box;
    /*-webkit-box-flex:1;*/
    border:solid 1px #dcdcdc;
}
.content_left_buttom{
    display:-webkit-box;
    -webkit-box-flex:1;
}
.content_left_buttom_left{
    -webkit-box-orient: vertical;
    width: 570px;
    display:-webkit-box;
    border:solid 1px #dcdcdc;
    padding-right: 2px;
}
.content_left_buttom_right{
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    border:solid 1px #dcdcdc;
    padding-left: 2px;
}
.content_right{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    width: 200px;
    height: 96.7%;
    margin-top: 5px;
    border:solid 1px #dcdcdc;
}

/*时间控件样式 start --------------------------------------*/
.en-markup-crop-options {
    top: 18px !important;left: 50% !important;margin-left: -100px !important;
    width: 150px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {margin-left: 0px !important;}
.range-picker-axis{padding:0;position:relative;width:100px;height:2px;border:1px solid #CCC;display:inline-block;border-radius:2px;z-index:1;}
.range-picker{position:absolute;width:10px;height:10px;border:1px solid #BBB;z-index:3;top:-5px;border-radius:2px;cursor:pointer;background-color:#FFF;}
.range-picker.left{left:-4px;}
.range-picker.right{right:-4px;}
.range-picker.active{background-color:#CCC;}
.range-selected{background-color:#CCC;z-index: 2;position: absolute;width:100%;}
/*slider 范围选择控件结束*/

.sliderlabelpanel{display: -webkit-box; }
.sliderlabelpanel>div[class='label_left']{-webkit-box-flex: 1;text-align: left}
.sliderlabelpanel>div[class='label_right']{-webkit-box-flex: 1;text-align: right}
/*时间控件样式 end --------------------------------------*/

.legenditems{position: absolute;right: 10px;top: 10px;display: -webkit-box;-webkit-box-orient: vertical;}
.legenditems>.legenditem{-webkit-box-flex: 1;display: -webkit-box;margin-top: 10px;}
.legenditems>.legenditem>.itemcolor{width: 20px;height: 20px;}
.legenditems>.legenditem>.itemname{line-height: 20px;margin-left: 10px;color: #666666;font-family: "微软雅黑", "宋体", "Arial", "黑体";font-size: 12px;}
#container{position: relative}

/*页面美化 start --------------------------------------*/
.headtitle{
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
}
.headtitle_img{
    width: 15px;
    height: 17px;
    background-image: url('../images/ico_2.gif');
    margin-top: 6px;
    margin-left: 10px;
}
.headtitle_txt{
    font-weight: bold;padding-right: 10px;border-bottom: solid 3px #3398de;margin-left: 10px;
}
.rightheadtitle{
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    display: -webkit-box;
    margin-bottom: 5px;
}
/*页面美化 end --------------------------------------*/